distribution/models/**/*.onnx filter=lfs diff=lfs merge=lfs -text
distribution/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
distribution/models/tts/kokoro-en-v0_19/espeak-ng-data/** filter=lfs diff=lfs merge=lfs -text
distribution/tts/**/*.onnx filter=lfs diff=lfs merge=lfs -text
distribution/tts/**/*.bin filter=lfs diff=lfs merge=lfs -text
distribution/tts/*/espeak-ng-data/** filter=lfs diff=lfs merge=lfs -text
distribution/whisper/*.bin filter=lfs diff=lfs merge=lfs -text
distribution/native/**/*.so filter=lfs diff=lfs merge=lfs -text
distribution/native/**/*.dll filter=lfs diff=lfs merge=lfs -text
distribution/parakeet/encoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
distribution/parakeet/joiner.int8.onnx filter=lfs diff=lfs merge=lfs -text
distribution/parakeet/decoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
distribution/embed/**/*.onnx filter=lfs diff=lfs merge=lfs -text
distribution/embed/**/tokenizer.json filter=lfs diff=lfs merge=lfs -text
app/libs/sherpa-onnx-v1.12.33.jar filter=lfs diff=lfs merge=lfs -text
distribution/overlays/elite-intel-overlay filter=lfs diff=lfs merge=lfs -text
distribution/overlays/*.exe filter=lfs diff=lfs merge=lfs -text
distribution/overlays/*.dll filter=lfs diff=lfs merge=lfs -text
distribution/overlays/*.so filter=lfs diff=lfs merge=lfs -text
distribution/ccore/** filter=lfs diff=lfs merge=lfs -text
